@use '../abstracts/' as *;

.modalSettings {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
}

.modalSettings__frame {
  z-index: 1000;
  background-color: $primary-color-1;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & input {
    width: 100%;
  }

  @include maxQ(medium) {
    max-width: 23rem;
  }
}

.modalSettings__title {
  width: 100%;
  padding: 2rem 3rem;
  align-items: flex-start;

  font-family: $font-primary;
  color: $accent-color-1;
  @include font(1rem, 80%, $font-weight-semibold);

  @include maxQ(medium) {
    padding: 0;
    margin: 0;
    min-width: 0;
  }
}

.modalSettings__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  gap: 3rem;

  @include maxQ(medium) {
    padding: 0 0;
    gap: 1rem;
  }
}
