@use '../abstracts/' as *;

.userForm {
  max-width: 1100px;
  background-color: $primary-color-1;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: $shadow;
  border-radius: 0.7rem;

  @include maxQ(medium) {
    flex-direction: column;
  }
}

.userForm__icon {
  width: 1.5rem;
  height: 1.5rem;

  color: $primary-color-3;

  cursor: pointer;
}

.userForm__buttons {
  display: flex;
  gap: 1rem;

  @include maxQ(medium) {
    justify-content: space-around;
    gap: 5rem;
  }
}
