// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$font-primary: 'Open Sans', 'Helvetica Neue Light', sans-serif !default;
$font-secondary: 'Courier New', 'DejaVu Sans Mono', monospace !default;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Colors
$primary-color-1: #d4f4ff;
$primary-color-2: #7271aa;
$primary-color-3: #344b47;
$accent-color-1: #334a52;
$accent-color-2: #e6f4f1;
$accent-color-3: #bfd6d9;

//breakpoints
$break-xs: 320px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1280px;
$break-xl: 1600px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

///shadow
$shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
